body{
    margin: 0px;
    overflow: hidden;
  }
canvas { 
    display: block; /* fix necessary to remove space at bottom of canvas */ 
}
.Container{
  height:1000px;
  width:1000px;
  position: absolute;
}